.recipes-title {
	position: relative;
	left: 50%;
	font-size: 250%;
	color: white;
	text-align: center;
	top: 85px;
	transform: translateX(-50%);
}

.category-selector {
	position: relative;
	left: 50%;
	top: 100px;
	transform: translateX(-50%);
}

.table-container {
	margin: 100px auto;
	padding-top: 100px;
	width: 50%;
	max-width: 75%;
	height: 400px;
	overflow: scroll;
}

table {
	margin: 0 auto;
}

th, td{
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	/* border-left: 1px solid #ddd; */
	min-width: 50px;
	max-width: 100px;
	text-wrap: wrap;
}